<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sistema de Turnos</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<head>
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
				<a href="/" class="navbar-brand">Sistema de Turnos</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href="https://ar.linkedin.com/in/sebareverso">Sebasti&aacute;n Reverso</a></li>
		            <li><a href="https://github.com/SebaRev1989/utn-pw-final">Proyecto GitHub</a></li>
		          </ul>
		        </div>
			</nav>
		</head>
		<div class="container-fluid">
			<div class="col-md-2">
				<ul class="nav nav-sidebar">
		            <li class="active"><a href="/mds">M&eacute;dicos<span class="sr-only">(current)</span></a></li>
		            <li><a href="#">Pacientes</a></li>
		            <li><a href="#">Turnos</a></li>
		            <li><a href="#">Historias Cl&iacute;nicas</a></li>
		        </ul>
			</div>
			<div class="col-md-10 jumbotron">
				<%- body %>
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>