<h3 class="sub-header">Secci&oacute;n Turnos</h3><br>
<div class="container">
	<form method="post" action="/shifts/enableShifts">
		<p>Seleccione el d&iacute;a para hablitar los turnos</p>
	    <div>
	    	Fecha:
			<input type="date" name="turnos[fecha]">
	    </div><br><br>
    <button type="submit" class="btn btn-primary">Habilitar Turnos</button>
	</form>
</div>