<div class="container">
	<h3 class="sub-header pull-left">Listado de Turnos</h3>
	<br><br><br>
	<h5 class="pull-left"><%= moment(fecha).format('DD/MM/YYYY') %></h5>
</div>
<br>
<div class="table-responsive" style="background:white">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Horario</th>
	      <th>Medico 1</th>
	      <th>Medico 2</th>
	    </tr>
	  </thead>
	  <tbody>
		<tr>
	      <td>17</td>
	      <td>SI</td>
	      <td>SI</td>
	    </tr>
	    <tr>
	      <td>18</td>
	      <td>SI</td>
	      <td>NO</td>
	    </tr>
	    <tr>
	      <td>19</td>
	      <td>NO</td>
	      <td>NO</td>
	    </tr>
	    <tr>
	      <td>20</td>
	      <td>NO</td>
	      <td>SI</td>
	    </tr>
	  </tbody>
	</table>
</div>