<div class="container">
	<h3 class="sub-header pull-left">Historia Cl&iacute;nica</h3>
	<br><br><br>
	<h4>Paciente: <%= data[0].apellido %>, <%= data[0].nombre %></h4>
	<br>
	<form action="/ch/newCH" method="get">
		<button type="submit" class="btn btn-primary btn-sm pull-right">+ Agregar</button>
	</form>
</div>
<br>