<div class="container">
	<h3 class="sub-header pull-left">Profesionales registrados</h3>
	<br>
	<form action="/mds/newMD" method="get">
		<button type="submit" class="btn btn-primary btn-sm pull-right">+ Agregar</button>
	</form>
</div>
<br>
<div class="table-responsive" style="background:white">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Apellido</th>
	      <th>Nombre</th>
	      <th>Matr&iacute;cula</th>
	      <th width="150px">Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Lorem</td>
	      <td>ipsum</td>
	      <td>dolor</td>
	      <td>
	      	<button type="button" class="btn btn-success btn-xs">Editar</button>
	      	<button type="button" class ="btn btn-danger btn-xs">Eliminar</button>
	      </td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>amet</td>
	      <td>consectetur</td>
	      <td>adipiscing</td>
	      <td>
	      	<button type="button" class="btn btn-success btn-xs">Editar</button>
	      	<button type="button" class ="btn btn-danger btn-xs">Eliminar</button>
	      </td>
	    </tr>
	    <tr>
	      <td>3</td>
	      <td>Integer</td>
	      <td>nec</td>
	      <td>odio</td>
	      <td>
	      	<button type="button" class="btn btn-success btn-xs">Editar</button>
	      	<button type="button" class ="btn btn-danger btn-xs">Eliminar</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>