<h3 class="sub-header">Agregar m&eacute;dico</h3><br>
<div class="container">
	<form method="post" action="/mds/newMD">
		<input type="text" placeholder="Apellido" name="medico[apellido]" autofocus><br><br>
	    <input type="text" placeholder="Nombre" name="medico[nombre]" ><br><br>
	    <input type="text" placeholder="DNI" name="medico[dni]" ><br><br>
	    <input type="text" placeholder="Número de Matrícula" name="medico[nroMatricula]" ><br><br>
    <button type="submit" class="btn btn-primary">Registrar</button>
	</form>
</div>